---
# a comment
- name: Upgrade All Packages
  hosts: all:!localhost

  tasks:
    - name: apt dist-upgrade
      apt:
        upgrade: dist
      when: ansible_distribution_file_variety == "Debian"
    - name: yum update
      yum:
        name: '*'
        state: latest
        update_cache: yes
      when: ansible_distribution_file_variety == "RedHat" and ansible_facts['distribution_major_version'] == "7"
    - name: dnf update
      ansible.builtin.dnf:
        name: "*"
        state: latest
        update_cache: yes
      when: (ansible_distribution_file_variety == "RedHat" and ansible_facts['distribution_major_version'] == "8") or
            (ansible_distribution_file_variety == "RedHat" and ansible_facts['distribution_major_version'] == "9")
    - name: zypper update
      community.general.zypper:
        name: '*'
        state: latest
        update_cache: yes
      when: ansible_distribution_file_variety == "SUSE"
