---
# a comment
- name: Setup host for Prometheus monitoring
  hosts: all:!localhost

  tasks:
    - name: add prometheus user
      ansible.builtin.user:
        name: prometheus
        shell: /bin/false
        uid: 3434
    - name: download node_exporter binary archive
      ansible.builtin.get_url:
        url: https://github.com/prometheus/node_exporter/releases/download/v1.5.0/node_exporter-1.5.0.linux-amd64.tar.gz
        dest: /tmp
      when: ansible_architecture == "x86_64"
    - name: unarchive file
      ansible.builtin.unarchive:
        src: /tmp/node_exporter-1.5.0.linux-amd64.tar.gz
        dest: /tmp/
        remote_src: yes
      when: ansible_architecture == "x86_64"
    - name: copy file into place
      ansible.builtin.copy:
        src: /tmp/node_exporter-1.5.0.linux-amd64/node_exporter
        dest: /usr/local/bin/node_exporter
        remote_src: yes
        owner: prometheus
        group: prometheus
        mode: '0755'
      when: ansible_architecture == "x86_64"
    - name: setup systemd unit
      ansible.builtin.blockinfile:
        path: /etc/systemd/system/node_exporter.service
        mode: '0644'
        owner: root
        group: root
        block: |
          [Unit]
          Description=Node Exporter
          Wants=network-online.target
          After=network-online.target

          [Service]
          User=prometheus
          Group=prometheus
          Type=simple
          ExecStart=/usr/local/bin/node_exporter

         [Install]
         WantedBy=multi-user.target
   - name: enable systemd unit
     ansible.builtin.systemd:
       state: restarted
       enabled: true
       daemon_reload: true
       name: node_exporter
